body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f3f7b9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  color: black;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title .logo img {
  height: 40px;
  margin-right: 10px;
}

.logo-title .title {
  font-size: 24px;
  font-weight: bold;
}

.navbar .button-container {
  display: flex;
  align-items: center;
}

.navbar .button-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .button-container button:hover {
  background-color: #0056b3;
}

.contact h1 {
  font-size: 40px;
}

.contact {
  text-align: left;
  margin-left: 20px;
}

.contact-us {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-left: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form {
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  margin-top: 12px;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  color: #333;
}

.form-group select:focus {
  outline: none;
  border-color: #007bff;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #007bff;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .navbar .company-name {
      font-size: 1.2rem;
  }

  .contact-form {
      max-width: 100%;
      padding: 15px;
  }
}
